interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.magicthegathering.io/v1/cards?
  response:
    body:
      string: "{\"cards\":[{\"name\":\"Abundance\",\"manaCost\":\"{2}{G}{G}\",\"cmc\":4.0,\"colors\":[\"Green\"],\"colorIdentity\":[\"G\"],\"type\":\"Enchantment\",\"supertypes\":[],\"types\":[\"Enchantment\"],\"subtypes\":[],\"rarity\":\"Rare\",\"set\":\"10E\",\"setName\":\"Tenth
        Edition\",\"text\":\"If you would draw a card, you may instead choose land
        or nonland and reveal cards from the top of your library until you reveal
        a card of the chosen kind. Put that card into your hand and put all other
        cards revealed this way on the bottom of your library in any order.\",\"artist\":\"Rebecca
        Guay\",\"number\":\"249\",\"layout\":\"normal\",\"multiverseid\":130483,\"imageUrl\":\"http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=130483&type=card\",\"rulings\":[{\"date\":\"2004-10-04\",\"text\":\"This
        replacement effect replaces the draw, so nothing that triggers on a draw will
        trigger.\"},{\"date\":\"2004-10-04\",\"text\":\"If you use this on a multi-card
        draw, each replaced draw is handled separately. In other words, you reveal
        and then put on the bottom of the library for the first card, then do the
        same for the second, and so on. In a multi-card draw you do not have to choose
        how many of those draws will be replaced before you do any drawing or use
        of this card.\"},{\"date\":\"2004-10-04\",\"text\":\"If no card of the chosen
        type is found before your library empties, you don\u2019t get a card, but
        you do get to order all the cards in your library any way you choose.\"},{\"date\":\"2007-07-15\",\"text\":\"If
        your library is empty, Abundance can prevent you from losing the game for
        being unable to draw a card. If an effect or turn-based action would cause
        you to draw a card, you can replace that draw with Abundance\u2019s replacement
        effect. (It doesn\u2019t matter that you\u2019d be unable to actually draw
        a card.) Since Abundance\u2019s effect has you put a card into your hand instead
        of drawing a card, you\u2019ll never be forced to draw a card with an empty
        library.\"}],\"foreignNames\":[{\"name\":\"\xDCberfluss\",\"text\":\"Falls
        du eine Karte ziehen w\xFCrdest, kannst du stattdessen Land oder Nichtland
        bestimmen und Karten oben von deiner Bibliothek aufdecken, bis du eine Karte
        der bestimmten Art aufdeckst. Nimm diese Karte auf deine Hand und lege alle
        anderen auf diese Weise aufgedeckten Karten in beliebiger Reihenfolge unter
        deine Bibliothek.\",\"flavor\":null,\"imageUrl\":\"http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=148402&type=card\",\"language\":\"German\",\"multiverseid\":148402},{\"name\":\"Abundancia\",\"text\":\"Si
        fueras a robar una carta, en vez de eso, puedes elegir tierra o no tierra
        y mostrar cartas de la parte superior de tu biblioteca hasta que muestres
        una carta del tipo elegido. Pon esa carta en tu mano y pon todas las otras
        cartas mostradas de esta manera en la parte inferior de tu biblioteca en cualquier
        orden.\",\"flavor\":null,\"imageUrl\":\"http://gatherer.wizards.com/Handlers/Im[...]
